.maastricht_blue_bg{
    background-color: rgba(1, 22, 56, 1);
} 
.maastricht_blue_color{
    color: rgba(1, 22, 56, 1);
} 

.space_cadet_bg{
    background-color: rgba(46, 41, 78, 1);
} 
.space_cadet_color{
    color: rgba(46, 41, 78, 1);
} 

.purpureos_bg{
    background-color: rgba(144, 85, 162, 1);
} 
.purpureos_color{
    color: rgba(144, 85, 162, 1);
} 

.medium_ruby_bg{
    background-color: rgba(170, 68, 101, 1);
} 
.medium_ruby_color{
    color: rgba(170, 68, 101, 1);
} 

.japanese_violet_bg{
    background-color: rgba(91, 55, 88, 1);
} 
.japanese_violet_color{
    color: rgba(91, 55, 88, 1);
} 

.main {
    width: 100%;
    display: block;
    margin: 0 auto;
}

@media(min-width: 1280px) {
    .main {
        width: 1024px;
    }
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 36px;
}
