.tasks-list__item {
    display: flex;
    min-height: 60px;
    margin: 10px 010px 10px;
    align-items: flex-start;
}

.tasks-list__item:nth-child(2n+1) {
    /* background-color: #ccc; */
}

.tasks-list__item__info {
    float: left;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tasks-list__item__info--header{
    width: 100%;
}

.tasks-list__item__info--name {
    font-weight: bold;
    /* width: 20%; */
}

.tasks-list__item__info--description {
    /* width: 30%; */
}

.tasks-list__item__info--owner {
    /* width: 10%; */
}

.tasks-list__item__info--date {
    /* width: 25%; */
}

.open-tasks .closed-task {
}

.tasks-list__item {
    border-color: transparent;
    background: rgba(97,97,252,1);
    background: -moz-linear-gradient(45deg, rgba(97,97,252,1) 0%, rgba(185,91,242,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(97,97,252,1)), color-stop(100%, rgba(185,91,242,1)));
    background: -webkit-linear-gradient(45deg, rgba(97,97,252,1) 0%, rgba(185,91,242,1) 100%);
    background: -o-linear-gradient(45deg, rgba(97,97,252,1) 0%, rgba(185,91,242,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(97,97,252,1) 0%, rgba(185,91,242,1) 100%);
    background: linear-gradient(45deg, rgba(97,97,252,1) 0%, rgba(185,91,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6161fc', endColorstr='#b95bf2', GradientType=1 );
}

.tasks-list__item .btn{
    background-color: #fff;
    color:#6161fc;
}

.delayded-task.tasks-list__item .btn{
    color:#ff6392;
}

.delayded-task.tasks-list__item {
    background: rgba(255,99,146,1);
    background: -moz-linear-gradient(45deg, rgba(255,99,146,1) 0%, rgba(255,123,105,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,99,146,1)), color-stop(100%, rgba(255,123,105,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,99,146,1) 0%, rgba(255,123,105,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,99,146,1) 0%, rgba(255,123,105,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,99,146,1) 0%, rgba(255,123,105,1) 100%);
    background: linear-gradient(45deg, rgba(255,99,146,1) 0%, rgba(255,123,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6392', endColorstr='#ff7b69', GradientType=1 );
}